Repository dvershinin/crossplane: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hardcoded-ips, pytest-py36

.pre-commit-config.yaml:

# Pre-commit hooks for crossplane (mirrors ~/Projects/gixy style)
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Bandit for security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]

  # Local hooks
  - repo: local
    hooks:
      # Check for hardcoded IPs (similar to SonarCloud S1313)
      - id: check-hardcoded-ips
        name: Check for hardcoded IP addresses
        description: Catches hardcoded IPs that SonarCloud would flag
        entry: python3 scripts/check_hardcoded_ips.py
        language: system
        types: [python]

      # Run full tests on Python 3.6 before commit (mirrors gixy)
      - id: pytest-py36
        name: Run tests on Python 3.6
        description: Full test suite on minimum supported Python
        entry: bash -c 'cd /Users/danila/Projects/crossplane && ~/.pyenv/versions/3.6.15/bin/python -m pytest tests/ -q --tb=line'
        language: system
        pass_filenames: false
        files: ^(crossplane/.*\.py|tests/.*\.py)$
        stages: [pre-commit]

Pre-commit: add hooks and run py36 tests
  .pre-commit-config.yaml
  AUTHORS.rst
  CODE_OF_CONDUCT.md
  NOTICE
  crossplane/analyzer.py
  pyproject.toml
  scripts/check_hardcoded_ips.py
Due: check-hardcoded-ips, pytest-py36

Pre-commit: remove hardcoded paths
  .pre-commit-config.yaml
  scripts/check_absolute_paths.py
Due: check-hardcoded-ips

Gated release: run tests, create GitHub Release, publish to PyPI and Docker
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Release 0.5.8
  CHANGELOG.md
  crossplane/__init__.py
Due: check-hardcoded-ips, pytest-py36

Release workflow: only publish on v* tags
  .github/workflows/release.yml
Due: none

Release workflows for PyPI (crossplane-ng) and Docker image
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  pyproject.toml
  setup.py
Due: check-hardcoded-ips

Rename distribution to nginx-crossplane (PyPI)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  crossplane/__init__.py
  setup.py
Due: check-hardcoded-ips, pytest-py36

Fix setup.py metadata parsing for PEP 517 editable installs
  CHANGELOG.md
  crossplane/__init__.py
  setup.py
Due: check-hardcoded-ips, pytest-py36

CI: run py36 tests in container; release 0.5.11
  .github/workflows/crossplane-ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  crossplane/__init__.py
Due: check-hardcoded-ips, pytest-py36

Fix pyproject build requirements for Python 3.6; release 0.5.12
  CHANGELOG.md
  crossplane/__init__.py
  pyproject.toml
Due: check-hardcoded-ips, pytest-py36

Publish Docker image to GHCR
  .github/workflows/release.yml
  CHANGELOG.md
  crossplane/__init__.py
Due: check-hardcoded-ips, pytest-py36

GHCR image name: ghcr.io/dvershinin/crossplane
  .github/workflows/release.yml
  CHANGELOG.md
  crossplane/__init__.py
Due: check-hardcoded-ips, pytest-py36

Rename PyPI package to ngxparse; release 0.5.15
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  crossplane/__init__.py
  setup.py
Due: check-hardcoded-ips, pytest-py36

Fix variable scope leak and add map/types strict mode support
  crossplane/analyzer.py
  crossplane/parser.py
  tests/configs/includes-regular-combined/nginx.conf
  tests/configs/includes-regular-combined/server.conf
  tests/configs/map/nginx.conf
  tests/configs/types/nginx.conf
  tests/test_analyze.py
  tests/test_parse.py
Due: check-hardcoded-ips, pytest-py36

fix: properly tokenize whitespace after braced variables
  crossplane/__init__.py
  crossplane/lexer.py
  tests/test_format.py
  tests/test_lex.py
Due: check-hardcoded-ips, pytest-py36

Fix bugs, typos, and expand test coverage
  crossplane/ext/lua.py
  crossplane/parser.py
  tests/configs/cli-test/nginx.conf
  tests/configs/cli-test/payload.json
  tests/ext/test_abstract.py
  tests/test_analyze.py
  tests/test_cli.py
  tests/test_errors.py
Due: check-hardcoded-ips, pytest-py36
